---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { illustrations  } from "../../../data/illustrations";
import IllustrationCard from "../../../components/IllustrationCard.astro";

export function getStaticPaths() {

  const poses = [
    ...new Set(
      illustrations
        .filter((item) => item.pose)
        .map((item) => item.pose)
    ),
  ];

  return poses.map((pose) => ({
    params: { pose },
  }));
}

const { pose } = Astro.params;

const filtered = illustrations .filter(
  (item) => item.pose === pose
);

const title = `${pose} のイラスト一覧`;
const description = `小学校で使える ${pose} のイラスト一覧です。`;
---

<BaseLayout title={title} description={description}>

<h1>{title}</h1>

<div class="grid">
  {filtered.map((item) => (
    <IllustrationCard item={item} />
  ))}
</div>

</BaseLayout>
