---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { allIllustrations } from "../../../data/illustrations";

const characters = allIllustrations.filter(
  (item) => item.character !== "item"
);

const title = "人物イラスト一覧";
const description = "小学生の人物イラスト素材一覧です。";
---

<BaseLayout title={title} description={description}>

<h2>人物イラストカテゴリ</h2>
<ul>
  <li><a href="/illustration/action/write_note">ノートを書く</a></li>
  <li><a href="/illustration/action/read_textbook">教科書を読む</a></li>
  <li><a href="/illustration/action/raise_hand">手を挙げる</a></li>
</ul>
<h2>アイテムイラスト</h2>
<a href="/illustration/item">
アイテムイラストをすべて見る
</a>
<h2>人物イラスト</h2>
<div class="grid">
  {characters.map((item) => (
    <a class="card" href={`/illustration/${item.slug}`}>
      <img src={item.png} alt={item.title} />
      <p>{item.title}</p>
    </a>
  ))}
</div>

</BaseLayout>