---
import BaseLayout from "../layouts/BaseLayout.astro";
import { illustrations  } from "../data/illustrations";
const title = "がっこうそざいラボ";
const description =
  "小学校で使えるフリーイラスト素材サイト。PNG・SVG対応、商用OK。線画もあります。";

const characterIllustrations = illustrations 
  .filter((i) => !i.category.includes("item")).reverse()
  .slice(-8);

const itemIllustrations = illustrations 
  .filter((i) => i.category.includes("item")).reverse()
  .slice(-8);
---

<BaseLayout title={title} description={description}>
<!-- ヒーロー -->
<section class="hero">
  <div class="hero-inner">
        <!-- 画像 -->
    <div class="hero-images hero-images-left">
        <div class="items">
          <img src="/images/girl01/png/girl01_tablet_rule_put_top_02.png"/>
      </div>
    </div>
    
    <!-- テキスト -->
    <div class="hero-text">
        
      <h1>
        小学校で<wbr>そのまま使える<br />
        無料イラスト<wbr>素材サイト
      </h1>
      <p class="sub">
        PNG・SVG対応／商用OK／<wbr>クレジット不要／線画対応
      </p>
    </div>
    <!-- 画像 -->
    <div class="hero-images hero-images-right">
        
        <div class="items">
        <img src="/images/item/png/item_randoseru_diagonal2_red.png" />
      </div>
    </div>

  </div>
</section>
<div class="category-grid">
<a class="category-card" href="/illustration/character">
<h2>人物イラスト</h2>
<p>小学生の人物イラスト素材</p>
</a>
<a class="category-card" href="/illustration/item">
<h2>アイテムイラスト</h2>
<p>文房具や学校アイテム</p>
</a>
<a class="category-card" href="/illustration/giga">
<h2>GIGAスクール</h2>
<p>ICT関係の素材</p>
</a>
<a class="category-card" href="/illustration/frame">
<h2>フレーム</h2>
<p>装飾素材</p>
</a>
<a class="category-card" href="/illustration/sportsDay">
<h2>運動会</h2>
<p>運動会・体育の素材</p>
</a>

</div>
<h2 class="section-title">人物イラスト新着</h2>

<div class="grid">
{characterIllustrations.map((item) => (

<a class="card" href={`/illustration/${item.slug}`}>
<img src={item.png} alt={item.title} />
<p>{item.title}</p>
</a>

))}
</div>
<h2 class="section-title">アイテムイラスト新着</h2>

<div class="grid">
{itemIllustrations.map((item) => (
<a class="card" href={`/illustration/${item.slug}`}>
<img src={item.png} alt={item.title} />
<p>{item.title}</p>
</a>
))}
</div>


<hr />

</BaseLayout>