---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { illustrations  } from "../../../data/illustrations";
import IllustrationCard from "../../../components/IllustrationCard.astro";
const gigaIllustrations = illustrations
  .filter((i) => i.category.includes("giga"));
const characterIllustrations = illustrations 
  .filter((i) => i.character !== "item")
  .slice(-8);
const itemIllustrations = illustrations 
  .filter((i) => i.character === "item")
  .slice(-8);
const title = "GIGAスクール イラスト";
const description = "学校で使えるタブレット（iPad）利用ルールのフリーイラスト素材。GIGAスクール構想に対応しています。";
---

<BaseLayout title={title} description={description}>

<h2 class="section-title">GIGAスクールの素材</h2>
<div class="grid">
  {gigaIllustrations.map((item) => (
    <IllustrationCard item={item} />
  ))}
</div>
<h2 class="section-title">人物イラスト</h2>
<div class="grid">
{characterIllustrations.map((item) => (
<IllustrationCard item={item} />
))}
</div>
<a href="/illustration/character">人物イラスト一覧を見る</a>
<h2 class="section-title">アイテムイラスト</h2>
<div class="grid">
{itemIllustrations.map((item) => (
<IllustrationCard item={item} />
))}
</div>
<a href="/illustration/item">アイテムイラスト一覧を見る</a>

</BaseLayout>