---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { illustrations  } from "../../data/illustrations";
import IllustrationCard from "../../components/IllustrationCard.astro";

export function getStaticPaths(){

  const tags = [
    ...new Set(
      illustrations .flatMap(i => i.tags || [])
    )
  ]

  return tags.map(tag => ({
    params:{ tag }
  }))
}

const { tag } = Astro.params

const filtered = illustrations .filter(
  i => i.tags?.includes(tag)
)

const title = `${tag}のイラスト`
const description = `${tag}のフリーイラスト素材です`
---

<BaseLayout title={title} description={description}>

<h1>{title}</h1>

<div class="grid">
{filtered.map(i => (
  <IllustrationCard item={i} />
))}
</div>

</BaseLayout>
